<h1 mat-dialog-title>Mitarbeiter hinzufügen</h1>

<div mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
      <mat-label>Vorname</mat-label>
      <input formControlName="firstName" matInput placeholder="Vorname" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nachname</mat-label>
      <input formControlName="lastName" matInput placeholder="Nachname" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="abc@example.de" required>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Abbrechen</button>
  <button  style="margin-left: 8px;" mat-raised-button color="primary" (click)="addEmployee()" >{{actionButton}}</button>
</div>

